html, body {
    background-color: rgb(39, 99, 39);
    display: grid;
}

#container {
    display: grid;
    justify-content: center;
    cursor: pointer;
}

#poker-card {
    display: grid;
    position: relative;
    place-items: center;
    height: 500px;
    width: 350px;
    background-color: blanchedalmond;
    font-size: 130px;
    border-radius: 20px;
}   

#top-icon {
    position: absolute;
    top: 5px;
    left: 15px;
}

#bottom-icon{
    position: absolute;
    bottom: 5px;
    right: 15px;
    transform: rotate(180deg);
}
